<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      Share your note with other people
    </h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <ng-multiselect-dropdown
      [placeholder]="'Select users to share your note'"
      [settings]="dropdownSettings"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
    >
    </ng-multiselect-dropdown>

    <button class="btn btn-primary mt-3" (click)="share()">Share</button>
  </div>
</ng-template>

<a class="nav-link" style="cursor: pointer" (click)="open(content)">
  <i class="bi bi-share"></i>
</a>
